@import "tailwindcss";

@theme {
  --color-deep-blue: #0b0f1a;
  --color-light-blue: #141b2b;
  --color-marigold: #e8a33d;
  --color-marigold-dark: #c17e2f;
  --color-teal: #4a9f9c;
  --color-light-gray: #edeae2;
}